# --- SQLite Config ---
DATABASE_URL=sqlite:///arecofix.sqlite

# --- Supabase Config (Sincronización) ---
SUPABASE_URL=your_project_url
SUPABASE_KEY=your_anon_key
SUPABASE_DB_URL=postgresql://postgres:password@db.your_project.supabase.co:5432/postgres
